/* font-family: "Orbitron", sans-serif;
 font-family: "Lato", sans-serif; */
*{
    padding: 0px;
    margin: 0px;
}



:root{
    --yl : rgb(238, 184, 5);
    --bk : rgb(23, 23, 23);
    --wh : rgb(244, 242, 242);
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4{
    font-family: "Orbitron", sans-serif;
    
}

p{
     font-family: "Lato", sans-serif;
}

.bg-black{
    background-color: var(--bk);
}

.bg-white{
    background-color: var(--wh);
}

.bg-yellow{
    background-color: var(--yl);
}

.text-wh{
    color: var(--wh);
}

.text-bk{
    color: var(--bk);
}

.text-yl{
    color: var(--yl);
}

body{
    background-color: var(--bk);
}

/* NAVBAR */
.navbar{
   position: fixed; 
   height: 140px;
   width: 100%;
   top: 0;
   transition: 0.5s;
   z-index: 999;
}

.navbar-collapse{
    transition: 0.5s;
    max-height: 130px;
   
}

.container-fluid{
    padding: 0px;
}

.nav-link{
 
    font-size: large;
    font-weight: 500;
    transition: 0.5s;
}

.nav-link:hover{
    color: var(--wh);
    text-shadow: 4px 4px 4px var(--yl);
}

.logo{
    height: 50px;
    width: 50px;
}

/* Header */

.header{
    background-image: url(./MEDIA/sfondo.presto.jpg);
    background-size: cover;
}

.titolo{
    border: solid 4px var(--yl);
    border-radius: 50px;
    display: inline-block;
    padding: 20px;
}

.btn-cst{

    background-color: transparent;
    color: var(--yl);

    padding: 30px 40px;
    border-radius: 30px;
    transition: 0.7s;
}

.btn-cst:hover{
    background-color: var(--yl);
    color: var(--bk)
}

.card{
    background-color: var(--yl);
    padding: 30px;
    border: solid 3px var(--bk);
    transition: 0.7s;
}

.card:hover{
    transform: scale(1.1);
    z-index: 2;
    background-color: black;
    color: rgb(143, 3, 3);
}

.img-card{
    width: 160px;
    transition: 0.7s;
}

.positioned{
    position: relative;
    top: -60px;
}

.img-num{
    height: 100%;
    width: 100%;
}

.number{
    font-size: 80px;
    font-weight: 600;
}

.swiper{
    height: 600px;
}

.card-review{
    height: 250px;
    width: 500px;
    border: solid 3px var(--yl);
    border-radius: 20px;

}

.nome-rec{
    color: var(--yl);
    text-align: center;
    margin-top: 10px;
}
.rec{
    color: var(--wh);
    text-align: center;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 600px) {
    .positioned{
        position: static;
    }
}

.accordion-button, .accordion-item{
    color: var(--yl);
    background-color: black;
}

.accordion-button:not(.collapsed){
    color: var(--yl);
    background-color: black;
    box-shadow: none;
}

.accordion-button:focus{
    box-shadow: none;
}

.card-cst{
    width: 40%;
    border: solid 2px var(--yl);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--yl);
    overflow: hidden;
}

.card-cst img{
    width: 50%;
}

.accordion{
    position: sticky;
    top: 130px;
}

@media screen and (max-width: 900px) {
    .card-cst{width: 70%;}
    
}

/* @media screen and (min-width: 1250px) {
    #cardWrapper{width: 100%;}
    
} */